body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.success_msg, .error_msg{
  padding: 3px;
  font-size: 18px;
  color: rgb(15, 202, 15);
  text-decoration: double;
}

.error_msg {
  color: rgb(253, 12, 12);
}